@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column nav-pills gap-2">
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center @ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">
            <i class="bi bi-person-circle me-2"></i> Profile
        </a>
    </li>
    
  
    @if (hasExternalLogins)
    {
        <li class="nav-item">
            <a class="nav-link d-flex align-items-center @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                <i class="bi bi-box-arrow-in-right me-2"></i> External Logins
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link d-flex align-items-center" href="/UserOrder/UserOrders">
            <i class="bi bi-bag-check me-2"></i> My Orders
        </a>
    </li>
</ul>
